.search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  margin-bottom: 25px;

  .search-form__input {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 150px;
    padding: 12px 16px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    outline: none;
    transition: border 0.3s;

    &:focus {
      border-color: #6c63ff;
    }
  }

  .search-form__button {
    flex: 0 1 auto;
    padding: 12px 20px;
    background: #6c63ff;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background: #574b90;
    }
  }

  @media (max-width: 500px) {
    flex-direction: column;
    align-items: stretch;

    .search-form__input,
    .search-form__button {
      width: 100%;
    }
  }
}